@page "/ritten/aanmaken"

<style>
    input {
        cursor: text;
    }

    select {
        cursor: pointer;
    }
</style>

<h1>Maak een rit aan</h1>

<EditForm Model="rit" OnValidSubmit="Submit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="gebruiker">Gebruiker:</label>
        <InputSelect @bind-Value="rit.GebruikerId" id="gebruiker" class="form-control">
            <option value="0">-- Selecteer een gebruiker --</option>
            @foreach (var gebruiker in gebruikers)
            {
                <option value="@gebruiker.ID">@gebruiker.Voornaam @gebruiker.Achternaam</option>
            }
        </InputSelect>
        <ValidationMessage For="@(() => rit.GebruikerId)" />
    </div><br/>

    <div class="form-group">
        <label for="auto">Auto:</label>
        <InputSelect @bind-Value="rit.AutoId" id="auto" class="form-control">
            <option value="0">-- Selecteer een auto --</option>
            @foreach (var auto in autos)
            {
                <option value="@auto.ID">@auto.Merk @auto.Model</option>
            }
        </InputSelect>
        <ValidationMessage For="@(() => rit.AutoId)" />
    </div><br/>

    <div>
        <label for="begin">Begin datum/tijd:</label><br/>
        <InputDate Type="InputDateType.DateTimeLocal" id="begin" @bind-Value="@rit.Begin" class="form-control" required />
    </div><br/>

    <div>
        <label for="end">Eind datum/tijd:</label><br/>
        <InputDate Type="InputDateType.DateTimeLocal" id="end" @bind-Value="@rit.End" class="form-control" required />
    </div><br/>

    <div>
        <label for="kilometers">Aantal kilometers:</label><br/>
        <InputNumber TValue="int" id="kilometers" @bind-Value="@rit.Kilometers" @bind-Value:format="F0" class="form-control" required />
    </div><br/>
    
    <div>
        <label style="margin-right: 10px;">Adressen:</label>
            
        @foreach(var adres in rit.Adressen)
        {
            <div class="adres-blok" style="margin-bottom: 10px; border: 1px solid #ccc; padding: 10px;">
                <label style="width: 100px;">Straat:</label>
                <input type="text" @bind="adres.Straat" /><br/>

                <label style="width: 100px;">Huisnummer:</label>
                <input type="text" @bind="adres.Huisnummer" /><br/>

                <label style="width: 100px;">Plaats:</label>
                <input type="text" @bind="adres.Plaats" /><br/>

                <label style="width: 100px;">Land:</label>
                <input type="text" @bind="adres.Land" /><br/>
            </div><br/>
        }

        <button type="button" class="btn btn-primary" @onclick="AddAdres">+ Voeg adres toe</button>
    </div><br/>

    <button type="submit" class="btn btn-primary">Rit aanmaken</button>
    <button type="submit" class="btn btn-secondary" @onclick="Cancel">Terug naar overzicht</button>
</EditForm>