@page "/ritten"
@using Covauto.Blazor.Pages.Ritten.Bekijken

<style>
    .hover:hover {
        background-color: #f5f5f5;
        cursor: pointer;
    }
</style>

<h1>Ritten overzicht</h1>
<p>Hieronder vind je een overzicht van alle ritten in de database</p>

<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>GebruikerID</th>
        <th>Begin Tijd</th>
        <th>Eind Tijd</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var rit in ritten)
    {
        <tr @onclick="@(_ => RitBekijken(rit.ID))" class="hover">
            <td>@rit.ID</td>
            <td>@gebruikers.First(g => g.Key == rit.GebruikerId).Value.Voornaam @gebruikers.First(g => g.Key == rit.GebruikerId).Value.Achternaam</td>
            <td>@rit.Begin</td>
            <td>@rit.End</td>
        </tr>
    }
    </tbody>
</table>

<button type="button" class="btn btn-primary" @onclick="RitAanmaken">Rit aanmaken</button>