@page "/reserveringen"

<style>
    .hover:hover {
        background-color: #f5f5f5;
        cursor: pointer;
    }
</style>

<h1>Reserveringen overzicht</h1>
<p>Hieronder vind je een overzicht van alle reserveringen in de database</p>

<table class="table">
    <thead>
    <tr>
        <th>Auto</th>
        <th>Begin</th>
        <th>Einde</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var reservering in reserveringen)
    {
        <tr @onclick="@(_ => ReserveringBewerken(reservering.ID))" class="hover">
            <td>@autos.First(a => a.Key == reservering.AutoID).Value.Merk @autos.First(a => a.Key == reservering.AutoID).Value.Model</td>
            <td>@reservering.Begin</td>
            <td>@reservering.End</td>
        </tr>
    }
    </tbody>
</table>

<button type="button" class="btn btn-primary" @onclick="ReserveringAanmaken">Reservering aanmaken</button>