@page "/reserveringen"

<h1>Reserveringen overzicht</h1>
<p>Hieronder vind je een overzicht van alle reserveringen in de database</p>

<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Auto</th>
        <th>Begin</th>
        <th>Einde</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var reservering in reserveringen)
    {
        <tr @onclick="@(_ => ReserveringBewerken(reservering.ID))">
            <td>@reservering.ID</td>
            <td>@reservering.AutoID</td>
            <td>@reservering.Begin</td>
            <td>@reservering.End</td>
        </tr>
    }
    </tbody>
</table>

@* <button @onclick="BoekAanmaken">Boek aanmaken</button> *@

@code {
    
}